*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.picture1{
    width: 150px;
}
.text1{
    font-size: 20px;
    text-transform: uppercase;
}
button{
    border-radius: 15px !important;
    background-color:#00235A;
    font-size: 23px;
    color: white;
}